<runtime>
  <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
    <dependentAssembly>
      <assemblyIdentity culture="neutral" publicKeyToken="969db8053d3322ac" name="System.Drawing" />
      <bindingRedirect oldVersion="2.0.0.0" newVersion="3.5.0.0" />
    </dependentAssembly>
  </assemblyBinding>
  <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
    <dependentAssembly>
      <assemblyIdentity culture="neutral" publicKeyToken="969db8053d3322ac" name="System.Data" />
      <bindingRedirect oldVersion="2.0.0.0" newVersion="3.5.0.0" />
    </dependentAssembly>
  </assemblyBinding>
  <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
    <dependentAssembly>
      <assemblyIdentity culture="neutral" publicKeyToken="969db8053d3322ac" name="System.Windows.Forms" />
      <bindingRedirect oldVersion="2.0.0.0" newVersion="3.5.0.0" />
    </dependentAssembly>
  </assemblyBinding>
  <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
    <dependentAssembly>
      <assemblyIdentity culture="neutral" publicKeyToken="969db8053d3322ac" name="Microsoft.WindowsCE.Forms" />
      <bindingRedirect oldVersion="2.0.0.0" newVersion="3.5.0.0" />
    </dependentAssembly>
  </assemblyBinding>
  <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
    <dependentAssembly>
      <assemblyIdentity culture="neutral" publicKeyToken="969db8053d3322ac" name="System" />
      <bindingRedirect oldVersion="2.0.0.0" newVersion="3.5.0.0" />
    </dependentAssembly>
  </assemblyBinding>
</runtime>
